<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 命名空间为MapperScan注解指定的扫描路径 + 接口名 -->
<mapper namespace="com.eugene.sumarry.springbootredis.dao.GoodsDao">

    <resultMap type="Goods" id="goodsMap">
        <id column="goods_id" property="goodsId"/>
        <result column="name" property="name"/>
        <result column="count" property="count"/>
    </resultMap>

    <sql id="fields">
        goods_id, name, count
    </sql>

    <select id="getById" parameterType="Long" resultMap="goodsMap">
        SELECT
          <include refid="fields"/>
        FROM goods
        WHERE goods_id = #{goodsId}
    </select>

    <select id="count" resultType="Long">
        SELECT COUNT(*) FROM goods
    </select>

    <select id="fetchIdByPagination" parameterType="map" resultType="long">
        SELECT goods_id FROM goods LIMIT #{offset}, #{pageSize}
    </select>

</mapper>